#form_newusuario{
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background: #F2F2F2;
    border: 1px solid #B7B7B7;
}

input[type=text], input[type=password]{
    border: 1px solid #666;
    display: block;
    margin-bottom: 1em;
    padding: 2px;
    width: 100%;
}

.error{
    background: none repeat scroll 0 0 #FBE6F2;
    border: 1px solid #D893A1;
    padding: 5px;
}